@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Quantity.PaymentMethodView>
@{
    ViewBag.Title = "Payment Methods";
    Layout = "_IndexPartial";
}
@section Create {
    <t>Create new </t>
    <a asp-action=Create>Check</a>
    <a asp-action=CreateCreditCard>Credit Card</a>
    <a asp-action=CreateDebitCard>Debit Card</a>
}

<body>
    <table class="table">
        @{ var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortMethodType"], model => dummy.PaymentType)
                @Html.SortColumnHeaderFor(ViewData["SortToString"], model => dummy.Content)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], model => dummy.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PaymentType)</td>
                    <td>@Html.DisplayFor(modelItem => item.Content)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.ID)
                </tr>
            }
        </tbody>
    </table>
</body>