@using Open.Sentry.Extensions
@model Open.Facade.Quantity.RateTypeView

@{
    ViewBag.Title = "Create";
    ViewBag.SubTitle = "Exchange Rate Type";
    ViewBag.Button = "Create";
    Layout = "_EditPartial";
}

<body>
    @Html.EditingControlsFor(x => x.ID)
    @Html.EditingControlsFor(x => x.Code)
    @Html.EditingControlsFor(x => x.Name)
    @Html.EditingControlsFor(x => x.Description)
    @Html.EditingControlsFor(x => x.ValidFrom)
    @Html.EditingControlsFor(x => x.ValidTo)
</body>

@section Actions{@Html.ActionLink("Back to List", "Index")}