@using Open.Sentry.Extensions
@model Open.Facade.Quantity.RateTypeView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"Exchange Rate Type ({Model.ID})";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
    @Html.HiddenFor(model => model.ID)
    @Html.EditingControlsFor(model => model.Code)
    @Html.EditingControlsFor(model => model.Name)
@Html.EditingControlsFor(model => model.Description)
    @Html.EditingControlsFor(model => model.ValidFrom)
    @Html.EditingControlsFor(model => model.ValidTo)
</body>

@section Actions{@Html.ActionLink("Back to List", "Index")}