@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Quantity.RateTypeView>
@{
    ViewBag.Title = "Exchange Rate Types";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}

<body>
    <table class="table">
        @{ var rateType = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortId"], x => rateType.ID)
                @Html.SortColumnHeaderFor(ViewData["SortCode"], x => rateType.Code)
                @Html.SortColumnHeaderFor(ViewData["SortName"], x => rateType.Name)
                @Html.SortColumnHeaderFor(ViewData["SortDescription"], x => rateType.Description)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], x => rateType.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], x => rateType.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                @Html.EditDetailDeleteFor(modelItem => item.ID)
            </tr>
            }
        </tbody>
    </table>
</body>