@using Open.Sentry.Extensions
@model Open.Facade.Quantity.CurrencyView

@{
    ViewBag.Title = "Delete";
    ViewBag.SubTitle = "Currency";
    ViewBag.Button = "Delete";
    Layout = "_DeletePartial";
}

<body>
    @Html.ViewingControlsFor(model => model.IsoCode)
    @Html.ViewingControlsFor(model => model.Symbol)
    @Html.ViewingControlsFor(model => model.Name)
    @Html.ViewingControlsFor(model => model.ValidFrom)
    @Html.ViewingControlsFor(model => model.ValidTo)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}

