@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Quantity.RateView>
@{
    ViewBag.Title = "Rates";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}

<body>
    <table class="table">
        @{ var rateType = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortId"], x => rateType.ID)
                @Html.SortColumnHeaderFor(ViewData["SortRate"], x => rateType.Rate)
                @Html.SortColumnHeaderFor(ViewData["SortCurrencyID"], x => rateType.CurrencyID)
                @Html.SortColumnHeaderFor(ViewData["SortRateTypeID"], x => rateType.RateTypeID)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], x => rateType.ValidFrom)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], x => rateType.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrencyID)</td>
                    <td>@Html.DisplayFor(modelItem => item.RateTypeID)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidFrom)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.ID)
                </tr>
            }
        </tbody>
    </table>
</body>