@using Open.Sentry.Extensions
@model Open.Domain.ShoppingCart.ShoppingCart

<h1>Cart</h1>

<div class="container text-left" style="background-color: #B3CBDE; opacity: 70;">

    <table class="table" style="background-color: #B3CBDE; color:black;">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
        <tr>
            @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
            @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.UnitPrice)
            @Html.SortColumnHeaderFor(ViewData["SortImage"], model => dummy.Quantity)
            @Html.SortColumnHeaderFor(ViewData["SortQuantity"], model => dummy.Quantity)
            @*@Html.DisplayNameFor(model => dummy.Name)
            @Html.DisplayNameFor(model => dummy.UnitPrice)
            @Html.DisplayNameFor(model => dummy.Quantity)
            @Html.DisplayNameFor(model => dummy.TotalPrice)*@
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
            </tr>
        }
        </tbody>
    </table>
</div>