@using Open.Sentry.Extensions
@model Open.Facade.ShoppingCart.CartViewsList
<link rel="stylesheet" type="text/css" href="~/css/Cart/index.css" />
<link rel="stylesheet" type="text/css" href="~/css/Cart/invoice.css" />

<div class="container">
    <div class="inv-title">
        <h1 class="no-margin">Invoice</h1>
    </div>
    <div class="inv-footer">
        <div>
            <img src="~/images/logo.png" class="inv-logo">
            <ul>
                <li>Ehitajate tee 5, </li>
                <li>19086 Tallinn</li>
                <li> gwork@gmail.com</li>
                <li> Issue Date</li>
                <li>
                    <script>document.write(new Date().toLocaleDateString());</script>
                </li>

            </ul>
        </div>
    </div>
</div>

<div class="inv-header" style="background-color: #B3CBDE; opacity: 70;">
    <table class="table">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.UnitPrice)
                @Html.SortColumnHeaderFor(ViewData["SortQuantity"], model => dummy.Quantity)
                @Html.SortColumnHeaderFor(ViewData["SortTotalPrice"], model => dummy.TotalPrice)
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>&euro;@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    <td>&euro;@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                </tr>
            }

        </tbody>
    </table>
</div>


<form action="http://localhost:57494/goods">
    <button class="button button4">Continue Shopping</button>
</form>
<div style="float: right; position: relative; right: 25px; bottom: 10px">
    <a asp-action="Index" class="button button5">Back</a>
</div>
<div style="float: right; position: relative; right: 25px; bottom: 10px">
    <a asp-action="Buy" class="button button5">Buy</a>
</div>
<div style="float: right; position: relative; right: 60px">
    <p><strong>Total: &euro;@Model.SubTotal()</strong></p>
</div>


<div class="container-fluid bg-2 text-center">
    <h3>Shipping</h3>
    <p>
    <p>
        Shipping Ways.

        ● Pickup
        ● Courier.
    </p>
    <p>
        Payment Methods:
        ● Cash
        ● Bank transfer
        Prepayment
    </p>
    <p>SwedBank </p>
    <p> IBAN: EE2200222234568650 </p>

    <h2>Contact Us :</h2>

    <form action="mailto:luiza.anna.mesh@gmail.com" method="post" enctype="text/plain">
        Name:<br>
        <input type="text" name="name"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Comment:<br>
        <input type="text" name="comment" size="50"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
</div>
<br />

