@using Open.Sentry.Extensions
@model Open.Facade.ShoppingCart.CartViewsList
<link rel="stylesheet" type="text/css" href="~/css/Cart/index.css"/>


<div class="container text-left" style="background-color: #B3CBDE; opacity: 70;">
    <h1>Cart</h1>
    <table class="table">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.UnitPrice)
                @Html.SortColumnHeaderFor(ViewData["SortQuantity"], model => dummy.Quantity)
                @Html.SortColumnHeaderFor(ViewData["SortTotalPrice"], model => dummy.TotalPrice)
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>&euro;@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                    <td>
                        <a asp-action="MinusOne" asp-route-id="@item.ID" class="button button1">  -  </a>
                        @Html.DisplayFor(modelItem => item.Quantity)
                        <a asp-action="PlusOne" asp-route-id="@item.ID" class="button button2">  +  </a>
                    </td>
                    <td>&euro;@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                    <td><a asp-action="Remove" asp-route-id="@item.ID" class="button button3">Remove</a></td>
                </tr>
            }
        </tbody>
    </table>
    <form action="http://localhost:57494/goods">
        <button class="button button4">Continue Shopping</button>
    </form>
    <div style="float: right; position: relative; right: 25px; bottom: 10px">
        <a asp-action="Checkout" class="button button5">CHECKOUT</a>
    </div>
    <div style="float: right; position: relative; right: 60px">
        <p><strong>Total: &euro;@Model.SubTotal()</strong></p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
    <br />
</div>
