@using Open.Sentry.Extensions
@model Open.Facade.ShoppingCart.CartViewsList
<link rel="stylesheet" type="text/css" href="~/css/Cart/index.css"/>
<h1>Cart</h1>

<div class="container text-left" style="background-color: #B3CBDE; opacity: 70;">

    <table class="table" style="background-color: #B3CBDE; color:black;">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
        <tr>
            @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
            @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.UnitPrice)
            @Html.SortColumnHeaderFor(ViewData["SortQuantity"], model => dummy.Quantity)
            @Html.SortColumnHeaderFor(ViewData["SortTotalPrice"], model => dummy.TotalPrice)
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {

            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>&euro;@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                <td>
                    <a asp-action="MinusOne" asp-route-id="@item.ID" class="btn btn-default" style="position: relative; right: 10px">-</a>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <a asp-action="PlusOne" asp-route-id="@item.ID" class="btn btn-default" style="position: relative; left: 10px">+</a>
                </td>
                <td>&euro;@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                <td><a asp-action="Remove" asp-route-id="@item.ID" class="btn btn-default">Remove</a></td>
            </tr>
        }
        </tbody>
    </table>
    <div style="float: right; position: relative; right: 25px; bottom: 10px">
        <a asp-action="CheckOut" class="btn btn-success">CHECKOUT</a>
    </div>
    <div style="float: right; position: relative; right: 60px">
        <p><strong>Total: &euro;@Model.SubTotal()</strong></p>
    </div>
    <br />
</div>
