@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Goods.GoodView>
<link rel="stylesheet" href="~/css/Goods/goods.css" />

    @{

        ViewBag.Title = "SpareParts";
        Layout = "_IndexPartial";
    }

    @section Create
        {
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Admin"))
            {
                <a asp-controller="Goods" asp-action="Create">Add new product</a>
            }
        }
    }

    <body>
        <table class="table">
            @{var dummy = Model.FirstOrDefault();}
            <thead>
                <tr>
                    @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                    @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.Price)
                    @Html.SortColumnHeaderFor(ViewData["SortImage"], model => dummy.Image)
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Image)</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
