@using Open.Sentry.Resouces
<!DOCTYPE html>
<html lang="en">
<head>
    @inject LocService SharedLocalizer
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/home/layout.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]GWork Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @RenderSection("Scripts", required: false)
</head>
<body>
<nav class="navbar navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a asp-area="" asp-controller="Home" asp-action="Index" style="color:white" class="navbar-brand">@SharedLocalizer.GetLocalizedHtmlString("header.Home")</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <div class="dropdown">
                        <button class="dropbtn">@SharedLocalizer.GetLocalizedHtmlString("header.Products")</button>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Goods" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("header.All")</a>
                            <a asp-area="" asp-controller="SpareParts" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("header.SpareParts")</a>
                            <a asp-area="" asp-controller="Accessories" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("header.Accessories")</a>
                            <a asp-area="" asp-controller="Chemistry" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("header.Chemistry")</a>
                        </div>
                    </div>
                </li>
                <li><a asp-area="" asp-controller="Home" asp-action="About" style="color: white">@SharedLocalizer.GetLocalizedHtmlString("header.HelpContact")</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Team" style="color: white">@SharedLocalizer.GetLocalizedHtmlString("header.Team")</a></li>
                <li><a asp-area="" asp-controller="Cart" asp-action="Index" class="btn btn-info cart"><span class="glyphicon glyphicon-shopping-cart" style="position: absolute; left: 5px;top:13px"></span>
                    <p class="p">@SharedLocalizer.GetLocalizedHtmlString("header.ShoppingCart")</p>
                    </a></li>
            </ul>
            
            <div class="nav navbar-nav navbar-right" style="position: relative; left: 10px;">
                <form>                   
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </form>
            </div>
            
            @await Html.PartialAsync("_LoginPartial")
           
        </div>
    </div>
</nav>
<div class="container body-content">
    <br/>
    @RenderBody()
    <hr/>
    <footer>
        <p>Made by Gwork Company</p>
    </footer>
</div> 
</body>
</html>


