@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Add product";
    ViewBag.Button = "Add";
    Layout = "_EditPartial";
}


<body style="color: #e2e2e2">
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Description)
    @Html.EditingControlsFor(model => model.Price)
    @Html.EditingControlsForEnum(model => model.Type)
    <div class="form-group">
        <label class="control-label col-md-2">Picture</label>
        <input type="file" name="file" accept="image/*" class="input">
    </div>
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


