@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Add product";
    ViewBag.Button = "Add";
    Layout = "_EditPartial";
}


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.EditingControlsFor(model => model.Name)
        @Html.EditingControlsFor(model => model.Description)
        @Html.EditingControlsFor(model => model.Price)
        @Html.EditingControlsForEnum(model => model.Type)
        @Html.EditingControlsFor(model=> model.Quantity)
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Picture</label>
        <input type="file" name="file" id="file" accept="image/*" />
    </div>
}

@*<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Description)
    <div class="form-group">
        <label class="control-label col-md-2">Picture</label>
        <input type="file" name="file" accept="image/*">
    </div>
    @Html.EditingControlsFor(model => model.Price)
    @Html.EditingControlsForEnum(model => model.Type)
    @Html.EditingControlsFor(model=> model.Quantity)
</form>*@

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


