@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Add product";
    ViewBag.SubTitle = "Goods";
    ViewBag.Button = "Add";
    Layout = "_EditPartial";
}

<body>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Description)
    <div class="form-group">
        <label asp-for="Image" class="control-label col-md-2">Picture</label>
        <input type="file" accept="image/*" asp-for="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    @Html.EditingControlsFor(model => model.Price)
    @Html.EditingControlsForEnum(model => model.Type)
    @Html.EditingControlsFor(model=> model.Quantity)
</form>
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


