@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Add product";
    ViewBag.SubTitle = "Goods";
    ViewBag.Button = "Add";
    Layout = "_EditPartial";
}

<body>
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.Description)
<div class="form-group">
    <label class="control-label col-md-2">Picture</label>
    <div class="col-md-4" style="position: relative; top: 5px">
        <input type="file" name="Picture" accept="image/*">
    </div>
</div>
    @Html.EditingControlsFor(model => model.Price)
    @Html.EditingControlsForEnum(model => model.Type)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


