@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Add product";
    ViewBag.SubTitle = "Goods";
    @*ViewBag.Button = "Add";*@
    Layout = "_EditPartial";
}

<body>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        @Html.EditingControlsFor(model => model.Name)
        @Html.EditingControlsFor(model => model.Description)
        <div class="form-group">
            <label asp-for="Image" class="control-label col-md-2">Picture</label>
            <input type="file" id="files" accept="image/*" asp-for="Image">
        </div>
        @Html.EditingControlsFor(model => model.Price)
        @Html.EditingControlsForEnum(model => model.Type)
        @Html.EditingControlsFor(model => model.Code)
        <div class="form-group">
            <input type="submit" value="add" class="btn btn-default" style="position: relative"/>
        </div>
    </form>
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


