@using Microsoft.AspNetCore.Http.Extensions
@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Details";
    Layout = "_DetailsPartial";
}
<body>

    <div style="position: absolute">
        @{
            if (Model.ImgData != null)
            {
                var base64EncodedImg = Convert.ToBase64String(Model.ImgData);
                <img  alt="@Model.ImgName" src="data:image;base64,@base64EncodedImg" width="180" height="180"/>
            }
        }
    </div>
<div style="position: relative; left: 115px;color: aliceblue">
    @Html.ViewingControlsFor(o => Model.Name)
    @Html.ViewingControlsFor(o => Model.Type)
    @Html.ViewingControlsFor(o => Model.Price)
    <div style="width: 1000px; position: relative; left: 23px">@Html.ViewingControlsFor(o => Model.Description)</div>
    @if (User.IsInRole("Admin"))
    {
        @Html.ViewingControlsFor(o => Model.Code)
        @Html.ViewingControlsFor(o => Model.Quantity)
    }
    <div style="position: relative; right: 37px; top: 8px">
        @{
            if (!User.IsInRole("Admin")) {
                <a asp-action="AddToCart" asp-route-id="@Model.ID" asp-route-returnUrl="@Context.Request.GetEncodedUrl()" class="btn btn-default" style="font-weight: bold">Add to Cart</a>
            }
        }
    </div>
</div>
<br/>
</body>

@section Actions{
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    |
    @Html.ActionLink("Back to List", "Index")
}