@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"Goods ({Model.Code})";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body >
    @Html.HiddenFor(model => model.ImageType)
    @Html.EditingControlsFor(model => model.Description)
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.ValidFrom)
    @Html.EditingControlsFor(model => model.ValidTo)
    @Html.EditingControlsFor(model => model.FileLocation)
    @Html.EditingControlsFor(model => model.Price)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


