@using Open.Sentry.Extensions
@model Open.Facade.Goods.GoodView

@{
    ViewBag.Title = "Edit";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body >
@Html.ViewingControlsFor(model => model.Code)
@Html.EditingControlsFor(model => model.Description)
@Html.EditingControlsFor(model => model.Name)
@Html.EditingControlsForEnum(model => model.Type)
@Html.EditingControlsFor(model => model.Image)
@Html.EditingControlsFor(model => model.Price)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}


