@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Goods.GoodView>

@{

    ViewBag.Title = "Goods";
    Layout = "_IndexPartial";
}

@section Create 
{
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
}



<style>
    Title {
        color: aliceblue;
    }
</style>

<body>
    <table class="table" style="background-color: #B3CBDE; color:black;">
        @{var dummy = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortName"], model => dummy.Name)
                @Html.SortColumnHeaderFor(ViewData["SortPrice"], model => dummy.Price)
                @Html.SortColumnHeaderFor(ViewData["SortImage"], model => dummy.Image)
                @Html.SortColumnHeaderFor(ViewData["SortQuantity"], model => dummy.Quantity)
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Image)</td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <td>@Html.EditDetailDeleteFor(modelItem => item.ID)</td>
                    }
                    else {
                        <td>
                            <div>
                                <a asp-action="AddToCart" asp-route-id="@item.ID"  class="btn btn-default">Add to Cart</a>
                            </div>
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
</body>
