@using Open.Sentry.Resouces
<title>@ViewData["Title"] - About</title>
<!DOCTYPE html>
<html lang="en">
<head>
    @inject LocService SharedLocalizer
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #B3CBDE;
            color: black;
            font: 16px "Montserrat", sans-serif;
        }
        .bg-1 {
            background-color: #B3CBDE;
            font: 16px "Montserrat", sans-serif;
        }
    </style>
</head>

<body>
    <div class="container-fluid bg-1 text-center">
        <h2>@SharedLocalizer.GetLocalizedHtmlString("Home.About.HowCan")</h2>
        <p>@SharedLocalizer.GetLocalizedHtmlString("Home.About.GetHelp")</p>
        <p>@SharedLocalizer.GetLocalizedHtmlString("Home.About.Browse")</p>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">@SharedLocalizer.GetLocalizedHtmlString("Home.About.Returns")<span class="glyphicon glyphicon-usd"></span></a></li>
            <li><a data-toggle="tab" href="#menu1">@SharedLocalizer.GetLocalizedHtmlString("Home.About.Shipping") <span class="glyphicon glyphicon-home"></span></a></li>
            <li><a data-toggle="tab" href="#menu2">@SharedLocalizer.GetLocalizedHtmlString("Home.About.Account")<span class="glyphicon glyphicon-user"></span></a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h3>@SharedLocalizer.GetLocalizedHtmlString("Home.About.WhereItem")</h3>
                <p>@SharedLocalizer.GetLocalizedHtmlString("Home.About.WhereTEXT")</p>

            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>@SharedLocalizer.GetLocalizedHtmlString("Home.About.ShippingBuyers")</h3>
                <p>@SharedLocalizer.GetLocalizedHtmlString("Home.About.ShippingTEXT")</p>

            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>@SharedLocalizer.GetLocalizedHtmlString("Home.About.AccStatus")</h3>
                <p>@SharedLocalizer.GetLocalizedHtmlString("Home.About.AccStatusTEXT")</p>
            </div>
        </div>
    </div>
</body>
</html>
