@using Open.Sentry.Resource
<!DOCTYPE html>
<html>
<head>
    @inject LocService SharedLocalizer
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/home/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br>
    <div class="container-fluid bg-1 text-center">
        <h3 style="font-size: 50px; color: black; opacity: 0.9"><strong>@SharedLocalizer.GetLocalizedHtmlString("Home.Index.Welcome")</strong></h3>

        <h2 style="color: black; font-family: sans-serif; opacity: 0.6">
            <b>@SharedLocalizer.GetLocalizedHtmlString("Home.Index.BestPro")</b>
        </h2>
        <br>
        <img src="~/images/logo.png" alt="Logo">
        <br>
        <br>
        <br>
        <br>
        <form action="http://localhost:57494/en-US/Goods">
            <button class="btn btn-info">@SharedLocalizer.GetLocalizedHtmlString("Home.Index.ShowProduct")</button>
            </form>
            <br>
    </div>
    <br>
<div class="container-fluid bg-3">
            <h3 class="margin"><strong><font size="20" color: black; face="Arial">Category</font></strong></h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/images/horder.png" alt="Image" width="255" height="255">
               
                <p>  <a asp-area="" asp-controller="Goods" asp-route-category="Accessories" asp-action="Index" style="color:white;">@SharedLocalizer.GetLocalizedHtmlString("header.Accessories")</a></p>
            </div>
            <div class="col-sm-4">
                <img src="~/images/ridex.png" alt="Image" width="255" height="255">
                <p> <a asp-area="" asp-controller="Goods" asp-route-category="SpareParts" asp-action="Index" style="color:white;">@SharedLocalizer.GetLocalizedHtmlString("header.SpareParts")</a>
                </p>
            </div>
            <div class="col-sm-4">
                <img src="~/images/freez.png" alt="Image" width="255" height="255">
                <p>
                    <a asp-area="" asp-controller="Goods" asp-route-category="Chemistry" asp-action="Index" style="color:white;">@SharedLocalizer.GetLocalizedHtmlString("header.Chemistry")</a>
                </p>
            </div>
        </div>
            <br/>
        </div>
</body>
</html>








