@using Open.Sentry.Extensions
@model Open.Facade.Quantity.PaymentView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Payment";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
    @Html.HiddenFor(x => x.ID)
    @Html.EditingControlsFor(x => x.Amount)
    @Html.EditingControlsFor(x => x.CurrencyID)
    @Html.EditingControlsFor(x => x.PaymentMethodID)
    @Html.EditingControlsFor(x => x.DateDue)
    @Html.EditingControlsFor(x => x.DateMade)
    @Html.EditingControlsFor(x => x.ValidTo)
</body>

@section Actions{@Html.ActionLink("Back to List", "Index")}