@using Open.Sentry.Extensions
@model Open.Core.IPaginatedList<Open.Facade.Quantity.PaymentView>
@{
    ViewBag.Title = "Payments";
    Layout = "_IndexPartial";
}

@section Create {
    <a asp-action=Create>Create New</a>
}

<body>
    <table class="table">
        @{ var payment = Model.FirstOrDefault();}
        <thead>
            <tr>
                @Html.SortColumnHeaderFor(ViewData["SortAmount"], x => payment.Amount)
                @Html.SortColumnHeaderFor(ViewData["SortCurrency"], x => payment.CurrencyID)
                @Html.SortColumnHeaderFor(ViewData["SortMethod"], x => payment.PaymentMethodID)
                @Html.SortColumnHeaderFor(ViewData["SortDateDue"], x => payment.DateDue)
                @Html.SortColumnHeaderFor(ViewData["SortValidFrom"], x => payment.DateMade)
                @Html.SortColumnHeaderFor(ViewData["SortValidTo"], x => payment.ValidTo)
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrencyID)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentMethodID)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateDue)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateMade)</td>
                    <td>@Html.DisplayFor(modelItem => item.ValidTo)</td>
                    @Html.EditDetailDeleteFor(modelItem => item.ID)
                </tr>
            }
        </tbody>
    </table>
</body>