@using Open.Sentry.Extensions
@model Open.Facade.Party.CountryView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"Country ({Model.Alpha3Code})";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
}

<body>
@Html.HiddenFor(model => model.Alpha3Code)
@Html.EditingControlsFor(model => model.Alpha2Code)
@Html.EditingControlsFor(model => model.Name)
@Html.EditingControlsFor(model => model.ValidFrom)
@Html.EditingControlsFor(model => model.ValidTo)
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}

