@using Open.Facade.Party
@model Open.Facade.Party.GeographicAddressView

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = $"{Model.AddressType} Address";
    ViewBag.Button = "Save";
    Layout = "_EditPartial";
    var devices = ViewBag.Devices as AddressViewsList ?? new AddressViewsList(null);
    var prevDisabled = !devices.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !devices.HasNextPage ? "disabled" : "";
}

<body>
    @await Html.PartialAsync("_EditAddress", Model)

    <div class="form-group">
        @Html.LabelFor(m => m.RegisteredTelecomAddresses, new { @class = "control-label col-md-2" }),
        <div class="col-md-4" style="margin-top: 10px">
            <table class="table">
                @{ var r = Model.RegisteredTelecomAddresses.FirstOrDefault(); }
                <thead>
                    <tr>
                        <th>@Html.LabelFor(x => r.Contact)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.RegisteredTelecomAddresses)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.Contact)</td>
                            <td>@Html.ActionLink("Remove", "RemoveDevice", new { adr = Model.ID, dev = item.ID })</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-horizontal">
                <p>
                    <a asp-action="EditAddress"
                       asp-route-page="@(devices.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled"> < </a>
                    <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" formmethod="get" />
                    <input type="submit" value="Find" class="btn btn-default" formmethod="get" />
                    <a asp-action="EditAddress"
                       asp-route-page="@(devices.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled"> > </a>
                </p>
            </div>
            <table class="table">
                <tbody>
                @foreach (var item in devices)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.Contact)</td>
                        <td>@Html.ActionLink("Add", "AddDevice", new { adr = Model.ID, dev = item.ID })</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</body>

@section Actions{
    @Html.ActionLink("Back to List", "Index")
}

